.front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.front__title {
    margin-top: 25vh;
    margin-bottom: 10vh;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
}

.front__buttons {
    display: flex;
    flex-direction: column;
}

.front__buttons > .large-button {
    margin-bottom: 15px;
}
