@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes time-limit {
    0% {
        transform: scale3d(1, 1, 1);
        background: #33b300;
    }

    100% {
        transform: scale3d(0, 1, 1);
        background: #d00000;
    }
}

.question {
    display: flex;
    width: clamp(1px, calc(100% - 20px), 700px);
    height: 100vh;
    padding: 10px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.question__time-limit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

.question__time-limit.animating {
    animation: time-limit 5s linear forwards;
}

.question__meaning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2;
}

.question__meaning > li {
    list-style: inside decimal;
    word-break: keep-all;
}

.question__words {
    display: flex;
    flex-direction: column;
}

.question__words > .large-button:not(:last-child) {
    margin-bottom: 1rem;
}

.question__words > .large-button::before {
    transform: none;
}

.question__words > .large-button.clicked,
.question__words > .large-button.clicked::before {
    border-color: #d00000;
    color: #d00000;
}

.question__words > .large-button.answer,
.question__words > .large-button.answer::before {
    border-color: #33b300;
    color: #33b300;
}
