.words {
    max-width: 680px;
    margin: auto;
    padding: 10px 0 70px 0;
}

.words > h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0 10px;
}

.table {
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
}

.table__title {
    background: var(--text-color);
    color: var(--background-color);
    font-weight: bold;
}

.table > div {
    width: 50%;
    padding: 10px;
    line-height: 2;
    border: 1px solid var(--border-color);
}

.table > div.aware {
    background: rgba(89, 255, 0, 0.2);
}

.table li {
    list-style: inside decimal;
}

.table button {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    transform: translateY(0.45rem);
}

.table svg {
    fill: var(--text-color);
    pointer-events: none;
}

.words__button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    backdrop-filter: blur(8px) saturate(180%);
}

.words__button > svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--text-color);
}
