.words {
    overflow-x: auto;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    white-space: nowrap;
}

.table__title {
    background: var(--text-color);
    color: var(--background-color);
    font-weight: bold;
}

.table > div {
    padding: 10px;
    line-height: 2;
    border: 1px solid var(--border-color);
}

.table > div.aware {
    background: rgba(89, 255, 0, 0.2);
}

.table li {
    list-style: inside decimal;
}

.table button {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    transform: translateY(0.45rem);
}

.table svg {
    fill: var(--text-color);
    pointer-events: none;
}
