a,
article,
aside,
audio,
blockquote,
body,
button,
canvas,
code,
div,
em,
embed,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strong,
summary,
sup,
table,
tbody,
td,
textarea,
time,
ul,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background: 0;
    outline: 0;
    color: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}
picture {
    display: inline-block;
}
body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    word-break: break-all;
}
li,
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
br {
    color: transparent;
}

a {
    text-decoration: none;
}

*,
::after,
::before {
    box-sizing: border-box;
    scrollbar-width: thin;
}

:root {
    --background-color: #121212;
    --text-color: #bbb;
    --border-color: #787878;
}

html {
    background: var(--background-color);
    color: var(--text-color);
}

body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.center-container {
    height: 100%;
}

button {
    cursor: pointer;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.large-button,
.large-button::before {
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.large-button {
    position: relative;
    padding: 12.5px 40px;
    cursor: pointer;
}

.large-button::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    display: block;
}

.large-button:hover::before {
    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.large-button > i {
    margin-right: 5px;
}

.done__title {
    margin-bottom: 5vh;
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
}

.done__info {
    margin-top: -2.5vh;
    margin-bottom: 2.5vh;
    line-height: 1.7;
    font-size: 1.3rem;
    text-align: center;
}

.done__buttons {
    display: flex;
}

.done__button {
    display: inline-block;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
}

.done__button:not(:last-child) {
    margin-right: 10px;
}

.done__button > svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: var(--text-color);
}
